@import url('https://fonts.googleapis.com/css?family=Jua|Open+Sans:400,700');
html,body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	overflow-y:hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.festivTitle{
	font-family: 'Jua', sans-serif;
	margin: 0;
}
.festivDesc{
	margin-top: 0;
	font-size: 13px;
}
.SearchWrapper{
	border-bottom: 2px solid;
    width: 96%;
    padding: 2%;
    display: inline-block;
    float: left;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
}
.SearchWrapper select:nth-child(1){
	height: 28px;
    background-color: #55C3FF;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 18px;
    display: block;
    width: 100%;
}
.searchContainer{
	width: 40%;
	margin: auto;
}
#festival_bar{
	position: absolute;
	overflow: hidden;
    padding-left: 0;
    border-radius: 5px;
    background-color: #b2e1fb;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    min-width: 250px;
    z-index: 1;
}
#festival_bar li{
	display: none;
    background-color: #ffffff;
    color: #ffffff;
    padding: 4% 6%;
    cursor: pointer;
}
#festival_bar li span{
	color: #000000;
}
.selected-festival-name{
	background-color: #efefef !important;
}
#search_bar{
	width: 98%;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    padding: 0 1%;
    font-size: 18px;
}
.credits{
	position: absolute;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    left: 10px;
}
.tracks{
	display: inline-block;
	height: 80vh;
	overflow-y: auto;
	float: right;
    width: 65%;
}
.track_container{
	padding: 2%;
}
.track_item{
	position: relative;
	margin: 1%;
	transition: .3s ease;
	border-bottom: 1px solid #c5c2c2;
}
.track_trans-enter{
	opacity: 0;
}
.track_trans-enter.track_trans-enter-active{
	opacity: 1;
	transition: opacity .4s ease-in;
}
.track_trans-leave{
	opacity: 1;
}
.track_trans-leave.track_trans-leave-active{
	opacity: 0;
	transition: opacity .3s ease-in;
}
.slide_in-enter{
	transform: translateX(-100%);
}
.slide_in-enter.slide_in-enter-active{
	transform: translateX(0%);
	transition: transform .4s ease-in;
}
.slide_in-leave{
	transform: translateX(0%);;
}
.slide_in-leave.slide_in-leave-active{
	transform: translateX(-100%);
	transition: transform .3s ease-in;
}

.track_item img{
	display: inline-block;
	width: 75px;
    border-radius: 5px;
}
.track_info{
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 2%;
}
.track_info p{
	margin: 0;
	font-size: 13px;
}
.track_info p:nth-child(1){
	font-weight: 400;
}
.track_info p:nth-child(2){
	font-weight: 700
}
.add_to_tab{
	height: 80vh;
    display: inline-block;
    width: 31%;
    padding: 2%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #000;
}
.add_to_tab a{
	text-decoration: none;
}
.fest_name{
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
    margin: 0;
    width: 80%;
    background-color: #ffffff;
    color: #000000;
    padding: 2%;
}
.add_to_title{
	width: 130px;
    background-color: #000;
    color: #fff;
    border:2px solid #fff;
    padding: 8px;
    font-size: 14px;
    font-style: italic;
    font-weight: 900;
    margin: 0;
    transition: .5s ease;
}
.add_to_title:hover{
	background-color: #fff;
	color: #000;
	transition: .5s ease;
}